/* rules for burger-ingredients component */

/* rules for burger-ingredients block*/
.burger-ingredients {
  width: 600px;

  justify-self: end;
}

/* rules for heading block */
.heading {
  color: var(--text-primary-color);
}

/* rules for tab-box block */
.tab-box {
  display: flex;
}

/* rules for ingredients-list block */
.ingredients-list {

}
