/* rules for burger-ingredients component */

/* rules for burger-ingredients block*/
.burger-ingredients {
  width: 600px;

  justify-self: end;
}

/* rules for tab-box block */
.tab-box {
  display: flex;
}

/* rules for list-wrapper block */
.list-wrapper {
  max-height: 756px;
/*  max-height: 62vh; */

  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--text-inactive-color)
    var(--background-element);
}

.list-wrapper::-webkit-scrollbar {
  width: 8px;
}

.list-wrapper::-webkit-scrollbar-thumb {
  background: var(--text-inactive-color);
}

.list-wrapper::-webkit-scrollbar-track {
  background: var(--background-element);
}
