/* rules for burger-constructor-list component */

/* rules for ingredients-list block */
.ingredients-list_type_minhight-set {
  min-height: 80px;
}

.ingredients-list {
  max-height: 464px;

  margin: 0;
  padding: 0;

  list-style-type: none;

  display: flex;

  flex-direction: column;
  row-gap: 16px;

  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--text-inactive-color)
    var(--background-element);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.ingredients-list::-webkit-scrollbar {
  width: 8px;
}

.ingredients-list::-webkit-scrollbar-thumb {
  background: var(--text-inactive-color);
}

.ingredients-list::-webkit-scrollbar-track {
  background: var(--background-element);
}
