/* rules for app-header component */

/* rules for header block */
.header {
  border: 1px solid #000000;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  background-color: var(--background);

  display: flex;

  justify-content: center;
  align-items: center;
}

/* rules for header__nav element */
.header__nav {
  margin-right: 112px;

  display: flex;
}

/* rules for nav__item-link element */
.nav__item-link {
  text-decoration: none;

  color: var(--text-primary-color);

  display: flex;

  align-items: center;
  column-gap: 8px;
}

/* rules for nav__item-link_inactive modifier */
.nav__item-link_inactive {
  color: var(--text-inactive-color);
}

/* rules for profile-link element */
.profile-link {
  text-decoration: none;

  color: var(--text-primary-color);

  display: flex;

  align-items: center;
  column-gap: 8px;
}

/* rules for profile-link_inactive modifier */
.profile-link_inactive {
  color: var(--text-inactive-color);
}

/* rules for .profile-link-wrapper element */
.profile-link-wrapper {
  margin-left: 289px;
}
