.inputs-form {
  width: 480px;
  margin: 180px auto 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-group {
  width: 100%;
  margin: 0;
  padding: 0;

  border: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: fit-content;
}

.links-group {
  display: flex;
  flex-direction: column;
}

.links-pair {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link {
  padding: 0;
}
