/* rules for burger-constructor component */

/* rules for burger-constructor block */
.burger-constructor {
  width: 600px;
}

.ingredients-list__item-wrapper {
  display: block;
  scroll-snap-align: start end;
}

/* rules for ingredients-order-info block */
.ingredients-order-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
