/* fonts */

/* JetBrains Mono Regular */
@font-face {
  font-family: "JetBrains Mono";
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2"),
    url("./fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

/* JetBrains Mono Bold */
@font-face {
  font-family: "JetBrains Mono";
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2"),
    url("./fonts/JetBrainsMono-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

/* Iceland Regular */
@font-face {
  font-family: "Iceland";
  src: url("./fonts/Iceland-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

/* styles for page block */
.page {
  font-family: "JetBrains Mono";

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
